# Variables de entorno
.env

# Dependencias
node_modules/

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Archivos de configuración de IDE
.idea/
.vscode/
*.swp

# Directorios de contenido dinámico o de prueba (opcional, descomentar si se desea ignorar)
public/uploads/
# public/cliente_prueba/
