<% layout('layouts/adminLayout') %>

<h1>Admin Page</h1>
<% if (currentUser) { %>
  <p>Welcome, <%= currentUser.first_name || currentUser.username %></p>
<% } else { %>
  <p>Welcome, Guest</p>
<% } %>
